<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481188309606-0fi6225b6ubf866jf1p7q3ct9vunntlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481188309606-0fi6225b6ubf866jf1p7q3ct9vunntlc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>481188309606-lkoglq7emjvju1o186to4ckn589eoia0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3YSKeSVumP8CL8hffQqq1W1he71jL3Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>481188309606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacobodd.libraryArchMvvmModifyFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>lammfirebaselogin</string>
	<key>STORAGE_BUCKET</key>
	<string>lammfirebaselogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481188309606:ios:fcefb7a22338055ac69ba7</string>
</dict>
</plist>